
table {
    width: 100%;
}
    
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
    
td, th {
  width: 25%;
}
.mat-raised-button, .mat-stroked-button{    
  margin: auto;
  color:white; 
}

.mat-raised-button, .mat-stroked-button{    
  margin: auto;
}

material-tooltip {
    transform: translateY(0) translateX(0px) !important;
}

.icon-display {
    transform: scale(2);
    margin-bottom: 20px;
    cursor: pointer;
 }

 .icon-Send{
    color: rgb(66, 118, 66);
 }