<div class="footer" fxLayout="row">
  <div fxFlex="auto" fxLayout="row" fxLayoutAlign="start center" vexContainer>
    <a class="action"
       fxFlex="none"
       href="https://github.com/vitorfiler"
       target="_blank"
       id="get-vex">
      <!-- <ic-icon [icon]="icShoppingBasket" class="ltr:mr-2 rtl:ml-2" inline="true" size="18px"></ic-icon> -->
      <img src="assets/github.svg" style="max-width: 40px; margin-right: 20px;" alt="">
    </a>
    <a class="action"
        fxFlex="none"
        href="https://www.linkedin.com/in/v%C3%ADtor-nunes-70a225170/"
        target="_blank"
        id="get-vex">
      <!-- <ic-icon [icon]="icShoppingBasket" class="ltr:mr-2 rtl:ml-2" inline="true" size="18px"></ic-icon> -->
      <img src="assets/linkedin.png" style="max-width: 40px;" alt="">
    </a>
    <div class="ltr:ml-4 rtl:mr-4" fxHide fxShow.gt-sm>
      Para mais informações clique nos ícones ao lado
    </div>
  </div>
</div>
